@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
// ^ Trying to get a font called nunito to work. No luck so far.
//Functions go at the top!
@import "../node_modules/bootstrap/scss/functions";


//TGTG Colours
// $primary: #01615F;
// $primary-dark: #005250;
// $secondary: #FFFB9A;
// $secondary-dark: #FE7972;
// $tertiary: #F8F3EF;
// $tertiary-dark: #F3EBE8;

//Savour Colours
$primary: #64981B;
$primary-dark: #466a13;


// D5A253
// 5C6BC0
// E87E3A
// 585858

$secondary: #585858;
$secondary-dark: #FE7972;

$tertiary: #F8F3EF;
$tertiary-dark: #F3EBE8;

$enable-rounded: false;
// $gradient: linear-gradient(180deg, #124644, #01615F) !default;
// $gradient: linear-gradient(180deg, #124644, $primary) !default;
$gradient: linear-gradient(180deg, $secondary, $primary) !default;

.colossus {
    font-size: 200px;
}

.font-huge {
    font-size: 72px;
    line-height: 100%;
}

.font-25 {
    font-size: 25px;
}

.font-32 {
    font-size: 32px;
}

.font-60 {
    font-size: 60px;
}
.mt-minus {
    margin-top: -185px;
}

//Variables and Mixins MUST go below this comment.
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//Custom Colours
$custom-colors:(
    "primary": $primary,
    "primary-dark": $primary-dark,
    "secondary": $secondary,
    "secondary-dark": $secondary-dark,
    "tertiary": $tertiary,
    "tertiary-dark": $tertiary-dark,
    "tertiary-light": rgb(255, 234, 194)
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$custom-spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 8,
  huge: 260px,
) !default;

// Here I'm also trying to make the font work.
:root {
    --bs-body-font-family: "Nunito", sans-serif;
}

$spacers: map-merge($spacers, $custom-spacers);

@each $color, $val in $colors {
    .bg-#{$color} {
        background-color: $val
    }

    .bg-#{$color}-100 {
        background-color: tint-color($val, 80%);
    }

    .bg-#{$color}-200 {
        background-color: tint-color($val, 60%);
    }

    .bg-#{$color}-300 {
        background-color: tint-color($val, 40%);
    }

    .bg-#{$color}-400 {
        background-color: tint-color($val, 20%);
    }

    .bg-#{$color}-500 {
        background-color: tint-color($val, 0%);
    }

    .bg-#{$color}-600 {
        background-color: shade-color($val, 20%);
    }

    .bg-#{$color}-700 {
        background-color: shade-color($val, 40%);
    }

    .bg-#{$color}-800 {
        background-color: shade-color($val, 60%);
    }

    .bg-#{$color}-900 {
        background-color: shade-color($val, 80%);
    }
}

//This MUST be at the bottom.
@import "../node_modules/bootstrap/scss/bootstrap.scss";